$screen-sm: 415px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sm {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $screen-xl) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin lg-up {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: $screen-md) {
    @content;
  }
}
