@use "./variables" as *;
@use "./typography" as *;
@use "./layout" as *;

* {
  margin: 0;
  padding: 0;
  font-family: map-get($map: $font-family, $key: "font-primary");
  font-weight: 400;
}

//text
h1 {
  font-family: map-get($map: $font-family, $key: "font-primary");
  font-size: 34px;
  color: map-get($colors, "whiteColor");
}
h5 {
  font-family: map-get($map: $font-family, $key: "font-primary");
  font-size: 24px;
  color: map-get($colors, "whiteColor");
}
p {
  font-family: map-get($map: $font-family, $key: "font-secondary");
  line-height: 34px;
  font-size: 16px;
}
a {
  text-decoration: none;
  font-family: map-get($map: $font-family, $key: "font-secondary");
}
label {
  font-family: map-get($map: $font-family, $key: "font-secondary");
  color: map-get($colors, "labelColor");
  font-size: 13px;
  letter-spacing: 0.5px;
}
.form-control::placeholder {
  color: map-get($colors, "inputColor");
  font-family: map-get($map: $font-family, $key: "font-secondary");
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

//colors
.bg-primary {
  background-color: map-get($colors, "primary") !important;
}
.bg-secondary {
  background-color: map-get($colors, "secondary") !important;
}
.form-control {
  border: 2px solid map-get($colors, "secondary");
}

//buttons and links
.navbar-brand--text {
  text-decoration: none;
  color: map-get($colors, "tertiary");
  font-size: 36px;
}
.nav-item--link {
  font-family: map-get($map: $font-family, $key: "font-tertiary");
  text-decoration: none;
  font-size: 15px;
}
.btn-homepage,
.btn-homepage:hover {
  color: map-get($map: $colors, $key: "whiteColor");
  background-color: map-get($map: $colors, $key: "tertiaryLowerOpacity");
  border-radius: 4px;
  text-decoration: none;
  font-size: 27px;
}
.footer-body--icons-li a {
  text-decoration: none;
}
.footer-body--icons-li .fa,
.footer-body--icons-li .fa-brands {
  background-color: white;
  color: map-get($colors, "fourth");
  font-size: 25px;
}
.navbar-nav .nav-link.active {
  color: map-get($colors, "secondary");
}
.nav-link {
  color: map-get($colors, "tertiary");
}
.pagination .page-link {
  color: map-get($colors, "fourth");
  font-size: 14px;
}
.disabled > .page-link {
  color: map-get($colors, "disabled");
}
.btn-primary {
  color: map-get($colors, "inputColor");
  background-color: map-get($colors, "tertiary");
  border: none;
  font-family: map-get($map: $font-family, $key: "font-secondary");
  font-size: 16px;
  letter-spacing: 0.5px;
}
.btn-primary:hover {
  background-color: map-get($colors, "secondary");
}

//navbar
header {
  align-items: center;
  justify-content: center;
}
.navbar-container {
  width: 1280px;
  padding: 0 40px;

  @include md {
    padding: 0 5px;
  }
}
.navbar-container-body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 40px;
  background-color: map-get($colors, "whiteColor");
  @include md {
    padding: 0 5px;
  }
}
.navbar-container-body--row {
  width: 1200px;
}
.navbar-items--links {
  justify-content: end;
  @include md {
    height: 380px;
    justify-content: start;
  }
}
.navbar-brand--text:hover {
  color: map-get($colors, "tertiary");
}

//body
.main--body {
  background-color: map-get($colors, "fourth");
}
.card {
  position: static;
  width: 100%;
}

//footer
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 60px;
  @include md {
    padding-bottom: 15px;
  }
}
.footer-container {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include lg {
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer-body {
  @include lg {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer-body--copyRight {
  @include lg {
    display: flex;
    justify-content: center;
  }
}
.footer-body--icons-ul {
  padding: 0;
  @include lg {
    margin-bottom: 15px;
    align-items: center;
  }
}
.footer-body--icons-li {
  @include lg {
    flex-direction: column;
    justify-content: center;
  }
}
.footer-body--text {
  justify-content: end;
  @include lg {
    justify-content: center;
    margin-bottom: 15px;
  }
}
.footer-body p,
.footer-body--text p {
  font-family: map-get($map: $font-family, $key: "font-secondary");
  font-size: 12px;
  color: map-get($colors, "footerTextColor");
  @include lg {
    margin-bottom: 0px;
  }
}
.vl {
  border-left: 1px solid #8d8d8d;
  height: 25px;
}
