* {
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Basic";
  font-weight: 400;
}

h1 {
  font-family: "Gentium Book Basic";
  font-size: 34px;
  color: #ffffff;
}

h5 {
  font-family: "Gentium Book Basic";
  font-size: 24px;
  color: #ffffff;
}

p {
  font-family: "Open Sans";
  line-height: 34px;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Open Sans";
}

label {
  font-family: "Open Sans";
  color: #919191;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.form-control::-moz-placeholder {
  color: #cecece;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.form-control:-ms-input-placeholder {
  color: #cecece;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.form-control::placeholder {
  color: #cecece;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.bg-primary {
  background-color: #efef94 !important;
}

.bg-secondary {
  background-color: #81cfc2 !important;
}

.form-control {
  border: 2px solid #81cfc2;
}

.navbar-brand--text {
  text-decoration: none;
  color: #333333;
  font-size: 36px;
}

.nav-item--link {
  font-family: "Archivo Narrow";
  text-decoration: none;
  font-size: 15px;
}

.btn-homepage,
.btn-homepage:hover {
  color: #ffffff;
  background-color: rgba(51, 51, 51, 0.76);
  border-radius: 4px;
  text-decoration: none;
  font-size: 27px;
}

.footer-body--icons-li a {
  text-decoration: none;
}

.footer-body--icons-li .fa,
.footer-body--icons-li .fa-brands {
  background-color: white;
  color: #8dbde7;
  font-size: 25px;
}

.navbar-nav .nav-link.active {
  color: #81cfc2;
}

.nav-link {
  color: #333333;
}

.pagination .page-link {
  color: #8dbde7;
  font-size: 14px;
}

.disabled > .page-link {
  color: #aaaaaa;
}

.btn-primary {
  color: #cecece;
  background-color: #333333;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.5px;
}

.btn-primary:hover {
  background-color: #81cfc2;
}

header {
  align-items: center;
  justify-content: center;
}

.navbar-container {
  width: 1280px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 5px;
  }
}

.navbar-container-body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 40px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .navbar-container-body {
    padding: 0 5px;
  }
}

.navbar-container-body--row {
  width: 1200px;
}

.navbar-items--links {
  justify-content: end;
}
@media (max-width: 768px) {
  .navbar-items--links {
    height: 380px;
    justify-content: start;
  }
}

.navbar-brand--text:hover {
  color: #333333;
}

.main--body {
  background-color: #8dbde7;
}

.card {
  position: static;
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 60px;
}
@media (max-width: 768px) {
  footer {
    padding-bottom: 15px;
  }
}

.footer-container {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .footer-body {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .footer-body--copyRight {
    display: flex;
    justify-content: center;
  }
}

.footer-body--icons-ul {
  padding: 0;
}
@media (max-width: 992px) {
  .footer-body--icons-ul {
    margin-bottom: 15px;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .footer-body--icons-li {
    flex-direction: column;
    justify-content: center;
  }
}

.footer-body--text {
  justify-content: end;
}
@media (max-width: 992px) {
  .footer-body--text {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.footer-body p,
.footer-body--text p {
  font-family: "Open Sans";
  font-size: 12px;
  color: #8d8d8d;
}
@media (max-width: 992px) {
  .footer-body p,
.footer-body--text p {
    margin-bottom: 0px;
  }
}

.vl {
  border-left: 1px solid #8d8d8d;
  height: 25px;
}/*# sourceMappingURL=styles.css.map */